<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
</head>
<body style="background-image: url('{{ bg_image }}'); background-size: cover; background-repeat: no-repeat;">
<center>
    <font color="black" size="4" style="font-family: avenir">
        <h1 style="color: DodgerBlue">Employee Database - {{ app_author }}</h1>
        <p>This application stores and retrieves employee information.</p>
        <p>Created by {{ app_author }}</p>
        <br><br><a href="/">Back to Home</a>
    </font>
</center>
</body>
</html>
