<!DOCTYPE html>
<html>
<head>
    <title>Get Employee Information</title>
</head>

<body style="background-image: url('{{ bg_image }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">

<center>
    <font color="black" size="5">

        <h1 style="color: DodgerBlue">Employee Information</h1>

        <form action="/fetchdata" method="POST">

            Employee ID:<br>
            <input type="number" name="emp_id"><br><br>

            <button type="submit">FETCH INFO</button><br><br>

        </form>

    </font>
</center>

</body>
</html>
