<!DOCTYPE html>
<html>
<head>
    <title>Employee Information</title>
</head>

<body style="background-image: url('{{ bg_image }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">

<center>
    <font color="black" size="5">

        <h1 style="color: DodgerBlue">Employee Information</h1>

        <div>
            Employee ID: {{ id }} <br><br>
            First Name: {{ fname }} <br><br>
            Last Name: {{ lname }} <br><br>
            Primary Skill: {{ interest }} <br><br>
            Location: {{ location }} <br><br>
        </div>

        <a href="{{ url_for('home') }}">Back</a>

    </font>
</center>

</body>
</html>
